{% extends 'H&FTemp.html' %}

{% block body %}
    <section class="about-us">
      <div class="container">
        <ul class="ul__non-style">
          <li class="margin-right">
            <a href="index.html"><h3>Главная</h3></a>
          </li>
          <li class="margin-right">
            <h3>-</h3>
          </li>
          <li class="margin-right">
            <h3>Контакты</h3>
          </li>
        </ul>
        <div class="about-us__text">
          <h2 style="text-align: center; margin-bottom: 20px">О компании</h2>
          <h3>
            Кластер мужской и женской одежды: от streetwear до современного
            тейлоринга, от униформы до outdoor арсенала, от производительного
            теквира до эффектного бохо. Брендлист удовлетворяет
            мультифункциональному гардеробу для горожан и путешественников.
          </h3>
        </div>
      </div>
    </section>
    <!-- /about-us -->
{% endblock %}