{% extends 'H&FTemp.html' %}

{% block body %}
    <section class="contacts">
      <div class="container">
        <ul class="ul__non-style">
          <li class="margin-right">
            <a href="index.html"><h3>Главная</h3></a>
          </li>
          <li class="margin-right">
            <h3>-</h3>
          </li>
          <li class="margin-right">
            <h3>Контакты</h3>
          </li>
        </ul>
        <div class="contacts__wrapper">
          <div class="contacts__block">
            <div style="position: relative; overflow: hidden">
              <a
                href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                style="
                  color: #eee;
                  font-size: 12px;
                  position: absolute;
                  top: 0px;
                "
                >Москва</a
              ><a
                href="https://yandex.ru/maps/213/moscow/house/bolshoy_tryokhsvyatitelskiy_pereulok_2_1s5/Z04YcANkT0YOQFtvfXt0dHxhbQ==/?ll=37.644731%2C55.754979&utm_medium=mapframe&utm_source=maps&z=19.3"
                style="
                  color: #eee;
                  font-size: 12px;
                  position: absolute;
                  top: 14px;
                "
                >Большой Трёхсвятительский переулок, 2/1с5 — Яндекс Карты</a
              ><iframe
                src="https://yandex.ru/map-widget/v1/?ll=37.644731%2C55.754979&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1NjcxNTgzORJm0KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINCR0L7Qu9GM0YjQvtC5INCi0YDRkdGF0YHQstGP0YLQuNGC0LXQu9GM0YHQutC40Lkg0L_QtdGA0LXRg9C70L7QuiwgMi8x0YE1IgoNHJQWQhUmBV9C&z=19.3"
                width="560"
                height="400"
                frameborder="1"
                allowfullscreen="true"
                style="position: relative"
              ></iframe>
            </div>
          </div>
          <!-- /contacts__block -->
          <div class="contacts__block">
            <div class="contacts__text">
              <h4>Адрес:</h4>
              <h3>
                Москва, Большой Трёхсвятительский пер., 2/1с5 <br />
                "Особняк" -1 этаж
              </h3>
            </div>
            <div class="contacts__text">
              <h3>
                Среда: 16:00 - 22:00 <br />
                Четверг: 16:00 - 22:00 <br />
                Пятница: 16:00 - 22:00 <br />
                Суббота: 16:00 - 22:00
              </h3>
            </div>
            <div class="contacts__text">
              <h4>Контакты</h4>
            </div>
            <div class="contacts__text">
              <h3>
                Telegram с новостями: @noncitizen_info <br />
                <br />
                Почта для рекламных предложений: advertisment@noncitizen.store
                <br />
                <br />
                Почта для клиентов: info@noncitizen.store
              </h3>
            </div>
            <a href="https://yandex.ru/maps" class="contacts__text"></a>
          </div>
          <!-- /contacts__block -->
        </div>
        <!-- /wrapper -->
      </div>
    </section>
    <!-- /contacts -->
{% endblock %}